<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="synkevo" version="2">
    <MenuBar>
        <Menu name="file">
            <text context="@title:menu">&amp;File</text>
            <Separator/>
            <Action name="quit"/>
        </Menu>
        <Menu name="edit">
            <text context="@title:menu">&amp;Edit</text>
            <Action name="add_profile"/>
            <Action name="remove_profile"/>
            <Separator/>
            <Action name="configure_profile"/>
            <Separator/>
            <Action name="start_stop_sync"/>
        </Menu>
        <Menu name="settings">
            <text context="@title:menu">&amp;Settings</text>
            <Menu name="dockers" append="show_merge">
                <text context="@title:menu">&amp;Docks Shown</text>
                <Action name="show_profile_dock"/>
            </Menu>
        </Menu>
    </MenuBar>
    <ToolBar name="mainToolBar" noMerge="1">
        <text context="@title:menu">Main Toolbar</text>
        <Action name="quit"/>
    </ToolBar>
    <ToolBar name="editToolbar" noMerge="1">
        <text context="@title:menu">Edit Toolbar</text>
        <Action name="add_profile"/>
        <Action name="remove_profile"/>
        <Separator/>
        <Action name="configure_profile"/>
        <Separator/>
        <Action name="start_stop_sync"/>
    </ToolBar>
</gui>
